body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    color: black;
}

h1 {
    color: rgb(123, 62, 180);
}

/* Attribute selector */
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: darkolivegreen;
}

/* Child Selector */
ul > li {
    font-weight: bold;
}

/* sibling Selector */
h1 + p {
    background-color: rgb(14, 14, 77);
    padding: 10px;
    border-radius: 5px;
    
}

/* hover pseudo-class */
ul li:hover {
    color: gray;
}

/* :nth-child(3) */
ul li:nth-child(3) {
    background-color: black;
}

/* ::before Pseudo-elemnt */
ul li::before {
    content:"";
}

/* ::after Pseudo-elemnt */
a::after {
    content:""
}

/* ::first-letter Pseudo-elemnt */
p::first-letter {
    font-size: 200%;
    color: deepskyblue;
}
